body {
  font-family: Arial;
  margin: 0;
}

.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-buttons {
  display: flex;
  gap: 10px;
}

.top-btn {
  padding: 8px 14px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

.buy-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #2ecc71;
  border: none;
  color: white;
  cursor: pointer;
}

.order-container {
  padding: 30px;
}

.order-container input,
.order-container textarea {
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 8px;
}

.order-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}
